.collection-list {
    flex-basis: 100%;
    /* box-shadow: 5px 5px 10px #999; */
    border-radius: 0.5em;
    padding: 10px;
    /* max-height: 30vh; */
    overflow-y: hidden;
    width: 100%;
  }

.card {
  box-shadow: 5px 5px 10px #999;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 0.3em;
  padding: 2em;
  position: relative;
}

.collection-list-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  
.card:hover {
  /* Increase shadow on mouseover */
  box-shadow: 5px 5px 20px #999;
  cursor: pointer;
}

.tag {
  background-color: #f1f1f1;
  color: black;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  margin: 5px;
  display: inline-block;
}

.tag:hover {
  background-color: #ddd;
  cursor: pointer;
}

.authors {
  font-weight: bold;
}

.journal-year {
  font-style: italic;
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.abstract {
  margin-top: 1em;
  margin-bottom: 1em;
}

.paper {
  background-color: white;
  /* box-shadow: 5px 5px 10px white; */
  /* box-shadow: -10px 0px 10px 1px white; */
  /* Absolute position inside parent, stick to the right side of the containing div, use 20% of the parent div width */
  position: absolute;
  top: 0;
  right: 0;
  width: 20%;
  height: 100%;
  overflow: hidden;
  border-top-right-radius: 0.3em;
  border-bottom-right-radius: 0.3em;
}