---
layout: default
---
<h1>{{page.title}}</h1>

{{content}}

{% assign basename = page.name | remove: '.html' %}

<div style="display: flex;flex-direction: column;" >
    {% for item in site[basename] %}
        <div class="card" href="{{site.url}}/{{basename}}/{{item.name}}">
            <a href="{{site.url}}/{{basename}}/{{item.name}}">
                <h3> {{item.title}} </h3>
            </a>

            {% if item.authors%}
            <div class="authors">
                {{ item.authors | join: ", "}}
            </div>
            {% endif %}

            <div class="journal-year">
            {% if item.journal%}
            <span class="journal">
                {{item.journal}}
            </span >
            {% endif %}
            {% if item.year%}
            <span class="year">
                {{item.year}}
            </span>
            {% endif %}
            </div>

            <div class="tags">
            {% if item.huggingface %}
                <div class="tag">
                    <a href="{{item.huggingface}}">HuggingFace</a>
                </div>
            {% endif %}
            {% if item.github %}
                <div class="tag">
                    <a href="{{item.github}}">GitHub</a>
                </div>
            {% endif %}
            {% if item.osf %}
                <div class="tag">
                    <a href="{{item.osf}}">OSF</a>
                </div>
            {% endif %}
            {% if item.pypi %}
                <div class="tag">
                    <a href="{{item.pypi}}">PyPI</a>
                </div>
            {% endif %}
            {% if item.paperswithcode %}
                <div class="tag">
                    <a href="{{item.paperswithcode}}">Papers with Code</a>
                </div>
            {% endif %}
            </div>

            {% if item.abstract%}
            <div class="abstract">
                <details>
                    <summary>Abstract</summary>
                    
                    {{item.abstract}}
                    
                    </details>
            </div>
            {% endif %}

            {% if item.tasks %}
            <div class="tasks">
                {% for task in item.tasks %}
                    {% for sitetask in site.tasks %}
                        {% if sitetask.name == task %}
                        <div class="task">
                            <div class="tag">
                                <a href="{{site.url}}/tasks/{{task}}">{{sitetask.title}}</a>
                            </div>
                        </div>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
            </div>
            {% endif %}

            {% if item.paper %}
                {% for sitepaper in site.papers %}
                    {% if sitepaper.name == item.paper %}
                    <div class="paper">
                        <a href="{{site.url}}/papers/{{item.paper}}">
                            <img src="{{site.url}}/assets/img/preview/{{sitepaper.name}}-01.png" alt="paper" />
                        </a>
                    </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
            <p>{{item.description}} </p>
        </div>
    {% endfor %}
</div>